  .example-icon {
    padding: 0 14px;
  }
  
  .example-spacer {
    flex: 1 1 auto;
  }
  .example-card {
    width: 400px;
    margin: 10% auto;
  }
  .mat-card-title{
    font-size: 16px;
  }

  .example-toolbar {
    padding: 10px;
    background-color: #e8825f;
  }
  

  .mat-fab.mat-primary, .mat-flat-button.mat-primary, .mat-mini-fab.mat-primary, .mat-raised-button.mat-primary {
    background-color: #e8825f;
  }

  .loginError {
    color: red;
    font-style: italic;
  }