<nav class="navbar">
    <div class="container-fluid">
   
      <a (click)="addBox()" class="btn  pull-right" style='margin-right: 10px;'>Add Box</a>
    
    </div>
  </nav>
  <div id="itemGrid" [ngGrid]="gridConfig" item-width="500px">
    
    <div *ngFor="let box of boxes; let i = index" [(ngGridItem)]="box.config" (onItemChange)="updateItem(i, $event)" (onResize)="onResize(i, $event)" (onDrag)="onDrag(i, $event)">
      <div class="handle">Widget {{box.id}} <div class="box-header-btns pull-right">
              <a title="Remove widget" (click)="removeWidget(i);">
                <i class="fas fa-trash-alt"></i>
              </a>
            </div></div>
    </div>

    <button mat-fab color="primary" id="add-button"  (click)="addBox()"><i class="material-icons" >add</i></button>

  </div>

  